/* lien d'importation
     @import url(/src/assets/fonts/fonts.css);
*/

/* Font Aleo */

@font-face {
  font-family: 'AleoBoldItalic';
  src: url('/assets/fonts/Aleo/Aleo-BoldItalic.ttf') format('truetype');

}
@font-face {
  font-family: 'AleoBold';
  src: url('/assets/fonts/Aleo/Aleo-Bold.ttf') format('truetype');

}
@font-face {
  font-family: 'AleoItalic';
  src: url('/assets/fonts/Aleo/Aleo-Italic.ttf') format('truetype');

}
@font-face {
  font-family: 'AleoLight';
  src: url('/assets/fonts/Aleo/Aleo-Light.ttf') format('truetype');
  
}
@font-face {
  font-family: 'AleoRegular';
  src: url('/assets/fonts/Aleo/Aleo-Regular.ttf') format('truetype');
 
}


/* FONTS ROBOTO */

@font-face {
  font-family: 'Roboto-Black';
  src: url('/src/assets/fonts/Roboto/Roboto-Black.ttf') format('truetype');
 
}
/* 
@font-face {
  font-family: 'Roboto-BlackItalic';
  src: url('/src/assets/fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
 
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('/src/assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
 
}
@font-face {
  font-family: 'Roboto-BoldItalic';
  src: url('/src/assets/fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
 
}
@font-face {
  font-family: 'Roboto-Italic';
  src: url('/src/assets/fonts/Roboto/Roboto-Italic.ttf') format('truetype');
 
}
@font-face {
  font-family: 'Roboto-Light';
  src: url('/src/assets/fonts/Roboto/Roboto-Light.ttf') format('truetype');
 
}
@font-face {
  font-family: 'Roboto-LightItalic';
  src: url('/src/assets/fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
 
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url('/src/assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
 
}
@font-face {
  font-family: 'Roboto-MediumItalic';
  src: url('/src/assets/fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype');
 
}
 */